QDRANT_URL=https://your-qdrant-url
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_COLLECTION_NAME=yourname_personal_info

VECTOR_SIZE=your-vector-size

AI_API_EMBEDDINGS ="https://your-ollama-url/api/embed"
EMBEDDINGS_MODEL = "your-embedding-model"
AI_API_ASK = "https://your-ollama-url/api/completions"
ASK_MODEL = "your-chat-model"

APP_API_KEY = "your-app-api-key"